@model Teacher
@{
    ViewBag.Title = "Add Teacher";
}

<h1c class="display-4">Add Teacher</h1c>

<form asp-action="Add" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="mb-3">
        <label asp-for="FirstName" class="form-label"></label>
        <input asp-for="FirstName" class="form-control" />
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="LastName" class="form-label"></label>
        <input asp-for="LastName" class="form-control" />
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-dark">Save</button>
    <a asp-action="Index" asp-controller="Teacher" class="btn btn-outline-dark">Cancel</a>
</form>